
/* BarraSkill : Barra de progreso */
.barraSkill {
    background-color: #c66b20;
    /* Color azul */
    font-weight: bold;
    color: white;
    text-align: center;
}



/* Immágenes sección portfolio */
.imagenesProyectos {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px; 

}